.logo {
    height: 150px;
    padding: 3% 8%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-style-rubik);
    width: 650px;
    padding-left: 100px;
}

.main-info h1 {
    margin: 0;
    margin-bottom: 52px;
    font-size: 3em;
    font-weight: 700;
    color: var(--main-color);
}

.main-info span {
    color: #7978D9;
}

.main-info p {
    font-size: 1.6em;
    color: var(--main-color);
    line-height: 33px;
    margin-bottom: 54px;
}

.main-info button {
    all: unset;
    text-align: center;
    height: 52px;
    width: 284px;
    color: var(--main-color);
    background-color: var(--btn-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 535px;
    width: 513px;
    font-family: var(--font-style-rubik);
    margin-left: 100px;
    padding: 0 35px;
}

.main-form h1 {
    margin-top: 50px;
    color: var(--btn-color);
}

.main-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

.main-form input {
    width: 449px;
    height: 63px;
    border: 1px solid #555555;
    border-radius: 5px;
    margin-bottom: 31px;
    padding: 0 15px;
}

.main-form button {
    all: unset;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: white;
    width: 449px;
    height: 52px;
    margin-top: 40px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}